@charset "utf-8";

/* 모바일 대응 :: 768px 이하 */
@media screen and (max-width: 768px) {


    .mo {
        display: flex !important;
    }

    .po {
        display: none !important;
    }

    header {
        padding: 0;
        top: 2.4rem;
    }

    header .inner-header {
        width: 100%;
        padding: 0 1.6rem;
    }

    header .inner-header li {
        font-size: 1.4rem;
    }


    /* Main */
    #main {}

    #innerMain {
        width: 100%;
        padding: 0 2rem;
    }

    #innerMain .mainTxt {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    #innerMain .mainTxt span {
        display: flex;
        gap: 0 1rem;
        font-size: 3.6em;
        margin: 0.4rem 0;
        letter-spacing: -.1rem;
    }

    #innerMain .mainTxt span.min-txt {
        font-size: 1.8em;
    }

    section .inner-conts {
        width: 100%;
    }

    /* Intro */
    #intro {
        width: 100%;
        padding: 8rem 2rem;
        text-align: left;
    }

    #intro .inner-conts {
        flex-direction: column;
        gap: 3rem;
        align-items: flex-start;
        padding: 0;
    }

    #intro .img-box {
        display: none !important;
    }

    #intro .intro-wrap {
        width: 100%;
    }

    #intro .intro-wrap .intro-txt p {
        font-size: 2rem;
        line-height: 1.6;
        word-break: keep-all;
        /* color: var(--tit); */
        background: none;
    }

    /* Project */
    #project {
        width: 100%;
        padding: 6rem 2rem;
    }

    #project .project-item {
        width: 100%;
        border-top: 0;
        background: var(--bg);
        padding: 4rem 0;
    }

    #project .project-item a {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        padding: 0;
    }

    #project .project-item a .txt-box {
        width: 100%;
    }

    #project .txt-box h2.tit {
        font-size: 3.2rem;
        color: var(--pri-dark);
        margin-bottom: 1.6rem;
        font-weight: 700;
    }

    #project .txt-box p {
        margin: 2rem 0;
    }

    #project .txt-box p.skill span {
        font-size: 1.2rem;
        padding: 0.2rem 0.8rem;
    }

    #project .img-box img {
        display: none;
    }

    /* Study */
    #study {
        width: 100%;
        padding: 6rem 2rem;
    }

    #study .inner-conts {
        align-items: flex-start;
    }

    #study .study-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #study .study-item a {
        width: 100%;
        display: block;
        padding: 2rem;
    }

    #study .study-item a .tit {
        font-size: 1.8rem;
    }

    #study .study-item a .desc {
        font-size: 1.4rem;
        line-height: 1.5;
    }

    /* Footer */
    #footer {
        width: 100%;
        height: 100vh;
        padding: 2rem 2rem 0;
        margin: 0 auto;
    }

    #footer .inner-footer {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
        padding: 0;
    }

    #footer .contact-box p {
        font-size: 8.4rem;
        letter-spacing: -0.4rem;
    }

    #footer .inner-footer .contact-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2.4rem;
    }

    #footer .contact-list li {
        display: flex;
        align-items: center;
        margin: 0;
    }

    #footer .inner-footer .contact-list li a {
        width: 100%;
        max-width: 100%;
    }

    #footer .copy {
        display: block;
        right: 2.4rem;
        bottom: -2.4rem;
        font-size: 1.2rem;
        color: #888;
    }
}