@charset "utf-8";

:root {
    --pri: #94c2da;
    --pri-dark: #203f9a;
    --sec: #e7a0cc;
    --sec-dark: #e84797;
    --tit: #1d1e20;
    --txt: #5f6366;
    --bg: #efe8e0;
    --border: #aeaba7;
}

/* reset */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    color: var(--txt);
    font-family: 'PretendardVariable', 'Pretendard', 'sans-serif';
    font-size: 1rem;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg);
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
    color: var(--tlt);
    font-family: 'PretendardVariable', 'Pretendard', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
p,
dl,
dd,
dt,
ul,
ol,
li,
span {
    cursor: default;
}

button {
    border: 0;
    background: none;
}

::selection {
    background-color: var(--bg);
    color: #4E7CB2;
    text-shadow: none;
}

::-moz-selection {
    background-color: var(--bg);
    color: #4E7CB2;
    text-shadow: none;
}

::-webkit-selection {
    background-color: var(--bg);
    color: #4E7CB2;
    text-shadow: none;
}

.po {
    display: none !important;
}

/************** Header **************/
header {
    position: fixed;
    width: 100%;
    height: 4.8rem;
    top: 4.8rem;
    z-index: 9999;
    padding: 0 4.8rem;
}

header .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .inner-header li {
    font-family: 'SUIT Variable', 'SUIT', 'sans-serif';
    font-size: 1.8rem;
    color: var(--tit);
}


/************** nav - bottom fixed **************/
nav {
    position: fixed;
    left: 50%;
    bottom: 48px;
    transform: translateX(-50%);
    font-size: 14px;
    font-family: 'SUIT Variable', 'SUIT', 'sans-serif';
    z-index: 9999;
}

nav .inner-nav {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    background: var(--white);
    border: 1px solid var(--border);
    padding: 1.6rem 2.4rem;
    border-radius: 2.8rem;
}

nav .inner-nav a {
    display: flex;
    color: var(--tit);
    transition: all 0.3s;
}


/************** Gird **************/
.grid-10 {
    width: 128rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 4rem;
    padding-top: 16rem;
    padding-bottom: 16rem;
    align-items: center;
    /* align-items: baseline; */
    /* justify-content: center; */
}

.grid-1 {
    grid-column: span 1;
}

.grid-2 {
    grid-column: span 2;
}

.grid-3 {
    grid-column: span 3;
}

.grid-4 {
    grid-column: span 4;
}

.grid-5 {
    grid-column: span 5;
}

.grid-6 {
    grid-column: span 6;
}

.grid-7 {
    grid-column: span 7;
}

.secTlt {
    font-size: 2.8rem;
    margin-bottom: 3.6rem;
    font-weight: 600;
    color: var(--tit);
}

/* main Section */
#main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#innerMain {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

#innerMain .mainTxt {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#innerMain .mainTxt span {
    display: flex;
    padding: 1.6rem 2.4rem;
    font-size: 12rem;
    font-weight: 900;
    letter-spacing: -.4rem;
    cursor: default;
    transition: ease-out 0.3s;
}


#innerMain .mainTxt span {
    font-family: 'SUIT Variable', 'SUIT', 'sans-serif';
}

/************** Intro **************/
.intro {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.intro article {
    align-items: center;
    justify-content: center;
}

.intro .mypic {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.intro .introList .tlt b {
    font-weight: 600;
}

.intro .introList .introTxt p {
    margin: 3.6rem 0;
    font-size: 2.4rem;
    line-height: 1.7;
    font-weight: 100;
    word-break: break-all;
    background: var(--bg);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.intro .introList a {
    font-weight: 600;
}



/************** Projects **************/
#project {
    /* overflow: hidden; */
}

#project #proItem0 {
    padding-bottom: 0;
}

#project .proItem {
    width: 100%;
    min-height: 50vh;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg);
    border-top: 1px solid var(--tit);
}

#project *:nth-child(2) .proItem {
    padding-top: 8rem;
    border-top: 0;
}

#project .imgBox img {
    display: block;
    width: 100%;
}

#project .txtBox {
    width: 90%;
}

#project .txtBox h2.proTlt {
    font-size: 4.8rem;
    color: var(--pri-dark);
    font-weight: 900;
}

#project .txtBox p {
    margin: 4.8rem auto 3.6rem;
    font-size: 1.4rem;
    line-height: 1.8;
    line-height: 2;
    letter-spacing: -.2px;
}

#project .txtBox p.skill {
    margin: 0;
    display: flex;
    gap: .4rem;
}

#project .txtBox p.skill span {
    display: inline-block;
    padding: 0 .8rem;
    border-radius: .4rem;
    background-color: var(--sec);
    color: #FFF;
}

#project .txtBox .subBox {
    margin: 36px auto 0;
    font-size: 1.2rem;
}

#project .txtBox .subBox {
    justify-content: space-between;
    align-items: center;
    display: flex;
}


/************** footer **************/
#footer {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
    overflow: hidden;
}

#footer .contactBox p {
    font-family: 'SUIT Variable', 'SUIT', 'sans-serif';
    font-size: 14rem;
    font-size: clamp(120px, 24rem, 220px);
    font-weight: 900;
    letter-spacing: -1.3rem;
    color: var(--pri);
    color: var(--sec-dark);
}

#footer .contactBox b {
    font-size: 36px;
}

#footer .contactBox ul li {
    margin: 36px 0;
}

#footer .contactBox ul li a {
    position: relative;
    display: block;
    max-width: 250px;
    padding: 24px 12px;
    font-family: 'SUIT Variable', 'SUIT', 'sans-serif';
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    box-shadow: 3px 3px 0 4px var(--sec);
    box-shadow: 3px 3px 0 4px var(--pri);
    transition: all 0.3s;
}

#footer .contactBox ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--sec);
    background-color: var(--pri);
    transition: all 0.4s;
    z-index: -1;
}

#footer .contactBox ul li a:hover {
    color: var(--white);
    /* box-shadow: 3px 3px 0 4px var(--white); */
}

#footer .contactBox ul li a:hover::after {
    left: 0;
    top: 0;
    width: 100%;
}

#footer .copyTxt {
    position: absolute;
    right: 48px;
    bottom: 48px;
    color: #999;
    font-size: 14px;
}

.none,
canvas {
    display: none;
}